#page-details-pet {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}

#page-details-pet header {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-details-pet header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#page-details-pet header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-details-pet .view-pet {
  display: flex;
  margin-top: 22px;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#page-details-pet .view-pet h2 {
  padding: 5px 0 0 16px;
}

#page-details-pet .view-pet h3 {
  padding: 0 0 0 16px;
}

#page-details-pet .view-pet span {
  padding: 5px 0 5px 16px;
}

#page-details-pet .view-pet b {
  font-size: 16px;
  padding: 0 0 5px 16px;
}

#page-details-pet .view-pet div {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

#page-details-pet .view-pet div img {
  width: 350px;
  height: 350px;
  border-radius: 2px;
  margin-right: 1px;
}

#page-details-pet .view-pet div .leaflet-container {
  width: 350px;
  height: 350px;
  margin-left: 1px;
}

#page-details-pet .view-pet .div-buttons {
  flex: 1;
  display: flex;
}

#page-details-pet .view-pet .div-buttons .adopt-button {
  width: 100%;
  height: 42px;
  display: flex;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--second-color);
  text-decoration: none;
  overflow: hidden;
}

#page-details-pet .view-pet .div-buttons .share-button {
  width: 100%;
  height: 42px;
  display: flex;
  margin-left: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;
  background: var(--primary-color);
  border-radius: 8px;
}

#page-details-pet .view-pet .div-buttons .adopt-button:hover {
  background: #ff6666;
}

#page-details-pet .view-pet .div-buttons .share-button:hover {
  background: #2FB86E;
}


#page-details-pet .view-pet .div-buttons .adopt-button strong {
  flex: 1;
  text-align: center;
  display: inline-block;
  color: #FFF;
}

#page-details-pet .view-pet .div-buttons .share-button strong {
  flex: 1;
  text-align: center;
  color: #FFF;
}