#page-gift-pet {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}

#page-gift-pet header {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-gift-pet header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-gift-pet header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-gift-pet .page-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px auto;
  padding: 16px;
  max-width: 730px;
  background: #FFF;
  border-radius: 8px;
}

#page-gift-pet .page-details .voucher {
  display: flex;
  height: 200px;
  width: 500px;
  margin: 32px 0 32px 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border-style: solid;
  border-color: #000;
  border-radius: 8px;
}

#page-gift-pet .page-details .voucher .sidebar {
  display: flex;
  width: 80px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  border-top: solid;
  border-bottom: solid;
  border-color: #000;
  background: #F0F0F5;
}

#page-gift-pet .page-details .voucher .details {
  display: flex;
  margin: 0 24px 0 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
}

#page-gift-pet .page-details .voucher .details h1 {
  color: #000;
  font-size: 40px;
}

#page-gift-pet .page-details h1 {
  margin: 24px 0 16px 0;
  font-size: 50px;
}

#page-gift-pet .page-details h3 {
  text-align: center;
  color: #000;
}

#page-gift-pet .page-details span {
  text-align: center;
  margin-bottom: 24px;
}

#page-gift-pet .voucher img {
  width: 70px;
  height: 170px;
}